.produ-sect{
    .img-cuatro, .img-cinco{
        img{
            display: none;
        }
    }
    div{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        } 
    }
    .produ-conte{
        height: 60vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 25%);
        gap: 20px;
        margin: 30px 20px;
    }
}

@media screen and (min-width: 600px){
    .produ-sect{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 50%);
    }
}

